body {
    background: #e0e0e0;
}

h3 {
    text-align: center;
}

h5 {
    padding: 0px;
    margin: 0px;
}

h6 {
    padding-right: 4px;
    padding-top: 4px;
}

.header {
    background-image: url('./assets/background-netflix.jpg');
    background-repeat: no-repeat;
    background-size: 800px 400px;
    max-width: 800px;
    margin: 0 auto;
    padding: 1px 55px 10px 55px;
}

.movies-list {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-gap: 10px;
    background: #fff;
    margin: 0 auto;
    padding: 5px 5px;
    max-width: 800px;
}

.not-found {
    background: #fff;
    margin: 0 auto;
    max-width: 800px;
    max-height: 200px;
}

.not-found-message {
  padding: 80px;
  margin: 0 auto;
}

.bar {
    margin: 0 auto;
    max-width: 800px;
    overflow: auto;
}

bar:after {
    display: block;
    content: "";
    clear: both;
}

.grey-bar {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 15px;
}

.filter-bar {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px 15px;
    font-size: 11px;
    cursor: pointer;
}

.buttons {
    margin: 0 5px;
}

.thumbnails {
    display: block;
    width: 256px;
    cursor: pointer;
}

.movie-title {
    float: left;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 2px;
}

.release-date {
    float: right;
    font-size: 10px;
}

.details:after {
    display: block;
    content: "";
    clear: both;
}

.genre {
    font-size: 10px;
}

.msg {
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin: 20px;
    color: grey;
}

.msg-error {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 200px;
    max-height: 70px;
    overflow: auto;
    text-align: center;
    border-color: #d32f2f;
    background-color: #ef5350;
    color: white;
}
