body {
  background: #e0e0e0;
}

h3 {
  text-align: center;
}

h5 {
  padding: 0px;
  margin: 0px;
}

h6 {
  padding-right: 4px;
  padding-top: 4px;
}

.header {
  background-image: url('./assets/background-netflix.jpg');
  background-repeat: no-repeat;
  background-size: 800px 400px;
  max-width: 800px;
  margin: 0 auto;
  padding: 1px 55px 10px 55px;
}

.header {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 15px;
  font-size: 11px;
  cursor: pointer;
}

.buttons {
  margin: 0 5px;
}

.details:after {
  display: block;
  content: "";
  clear: both;
}

.movie-wrapper {
  display: block;
  background-image: url('./assets/background-netflix.jpg');
  background-repeat: no-repeat;
  background-size: 800px 400px;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 10px;
}

.filter-bar {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 15px;
  font-size: 11px;
  cursor: pointer;
}
